<footer>
  <div class="container">
    <div class="f-top">
      <div class="f-info">
        <div class="f-logo">
          <img src="sources/img/logo1.png" alt="pubmovie">
        </div>
        <p class="f-desc">Discover the ultimate destination for free movie streaming with PubMovie! Watch movies online anytime, anywhere, for an unmatched cinematic experience.</p>
      </div>
      <div class="f-links">
        <div>
          <h4>Genre</h4>
          <ul>
            <li><a href="trending">Trending</a></li>
            <li><a href="az-list">A-Z List</a></li>
            <li><a href="updated">Recently Updated</a></li>
            <li><a href="most-watched">Most Watched</a></li>
          </ul>
        </div>
        <div>
          <h4>Support</h4>
          <ul>
            <li><a href="contact">Contact</a></li>
            <li><a href="request">Request</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
  <div class="f-bottom">
    <div class="container">
      This site does not store any files on our server, we only linked to the media which is hosted on 3rd party services.
    </div>
  </div>

</footer>

</div>
<script src="js/main.js"></script>
<script src="js/onClick.js"></script>
</body>

</html>