<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/filter-main.css">
    <link rel="stylesheet" href="/css/strips.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/button.css">
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header">
          <div class="container">
            <div class="wrap-head justify-content-between">
              <div class="l-head">
                <a class="head-logo" href="/home"><img src="/sources/img/logo1.png" alt="pubmovie"></a>
                <div id="head-nav">
                  <ul>
                    <li class="expand">
                      <a href="/filter" id="genre-toggle">Genre</a>
                      <ul style="display: none;" id="genre-list">
                        <li><a title="Action movies" href="/genre/action">Action</a></li>
                        <li><a title="Adult movies" href="/genre/adult">Adult</a></li>
                        <li><a title="Adventure movies" href="/genre/adventure">Adventure</a></li>
                        <li><a title="Animation movies" href="/genre/animation">Animation</a></li>
                        <li><a title="Biography movies" href="/genre/biography">Biography</a></li>
                        <li><a title="Comedy movies" href="/genre/comedy">Comedy</a></li>
                        <li><a title="Costume movies" href="/genre/costume">Costume</a></li>
                        <li><a title="Crime movies" href="/genre/crime">Crime</a></li>
                        <li><a title="Documentary movies" href="/genre/documentary">Documentary</a></li>
                        <li><a title="Drama movies" href="/genre/drama">Drama</a></li>
                        <li><a title="Family movies" href="/genre/family">Family</a></li>
                        <li><a title="Fantasy movies" href="/genre/fantasy">Fantasy</a></li>
                        <li><a title="Film-Noir movies" href="/genre/film-noir">Film-Noir</a></li>
                        <li><a title="Game-Show movies" href="/genre/game-show">Game-Show</a></li>
                        <li><a title="History movies" href="/genre/history">History</a></li>
                        <li><a title="Horror movies" href="/genre/horror">Horror</a></li>
                        <li><a title="Musical movies" href="/genre/musical">Musical</a></li>
                        <li><a title="Mystery movies" href="/genre/mystery">Mystery</a></li>
                        <li><a title="News movies" href="/genre/news">News</a></li>
                        <li><a title="Reality movies" href="/genre/reality">Reality</a></li>
                        <li><a title="Romance movies" href="/genre/romance">Romance</a></li>
                        <li><a title="Sci-Fi movies" href="/genre/sci-fi">Sci-Fi</a></li>
                        <li><a title="Short movies" href="/genre/short">Short</a></li>
                        <li><a title="Sport movies" href="/genre/sport">Sport</a></li>
                        <li><a title="Talk movies" href="/genre/talk">Talk</a></li>
                        <li><a title="Talk-Show movies" href="/genre/talk-show">Talk-Show</a></li>
                        <li><a title="Thriller movies" href="/genre/thriller">Thriller</a></li>
                        <li><a title="Tv Shows movies" href="/genre/tv-shows">Tv Shows</a></li>
                        <li><a title="War movies" href="/genre/war">War</a></li>
                        <li><a title="Western movies" href="/genre/western">Western</a></li>

                      </ul>
                    </li>
                    <li class="expand">
                      <a href="/filter" id="country-toggle">Country</a>
                      <ul style="display: none;" id="country-list">
                        <li><a title="Argentina movies" href="/genre/argentina">Argentina</a></li>
                        <li><a title="Australia movies" href="/genre/australia">Australia</a></li>
                        <li><a title="Austria movies" href="/genre/austria">Austria</a></li>
                        <li><a title="Belgium movies" href="/genre/belgium">Belgium</a></li>
                        <li><a title="Brazil movies" href="/genre/brazil">Brazil</a></li>
                        <li><a title="Canada movies" href="/genre/canada">Canada</a></li>
                        <li><a title="China movies" href="/genre/china">China</a></li>
                        <li><a title="Czech movies" href="/genre/czech">Czech</a></li>
                        <li><a title="Denmark movies" href="/genre/denmark">Denmark</a></li>
                        <li><a title="Finland movies" href="/genre/finland">Finland</a></li>
                        <li><a title="France movies" href="/genre/france">France</a></li>
                        <li><a title="Germany movies" href="/genre/germany">Germany</a></li>
                        <li><a title="Hong Kong movies" href="/genre/hong-kong">Hong Kong</a></li>
                        <li><a title="Hungary movies" href="/genre/hungary">Hungary</a></li>
                        <li><a title="India movies" href="/genre/india">India</a></li>
                        <li><a title="Ireland movies" href="/genre/ireland">Ireland</a></li>
                        <li><a title="Israel movies" href="/genre/israel">Israel</a></li>
                        <li><a title="Italy movies" href="/genre/italy">Italy</a></li>
                        <li><a title="Japan movies" href="/genre/japan">Japan</a></li>
                        <li><a title="Luxembourg movies" href="/genre/luxembourg">Luxembourg</a></li>
                        <li><a title="Mexico movies" href="/genre/mexico">Mexico</a></li>
                        <li><a title="Nerherlands movies" href="/genre/nerherlands">Nerherlands</a></li>
                        <li><a title="New Zealand movies" href="/genre/new-zealand">New Zealand</a></li>
                        <li><a title="Norway movies" href="/genre/norway">Norway</a></li>
                        <li><a title="Polland movies" href="/genre/polland">Polland</a></li>
                        <li><a title="Romania movies" href="/genre/romania">Romania</a></li>
                        <li><a title="Russia movies" href="/genre/russia">Russia</a></li>
                        <li><a title="South Africa movies" href="/genre/south-africa">South Africa</a></li>
                        <li><a title="South Korea movies" href="/genre/south-korea">South Korea</a></li>
                        <li><a title="Spain movies" href="/genre/spain">Spain</a></li>
                        <li><a title="Sweden movies" href="/genre/sweden">Sweden</a></li>
                        <li><a title="Switzerland movies" href="/genre/switzerland">Switzerland</a></li>
                        <li><a title="Thailand movies" href="/genre/thailand">Thailand</a></li>
                        <li><a title="Turkey movies" href="/genre/turkey">Turkey</a></li>
                        <li><a title="United Kingdom movies" href="/genre/united-kingdom">United Kingdom</a></li>
                        <li><a title="United States movies" href="/genre/united-states">United States</a></li>

                      </ul>
                    </li>
                    <li><a href="/filter">Movies</a></li>
                    <li><a href="/filter">Tv Shows</a></li>
                    <li><a href="/filter">Trending</a></li>
                    <li><a href="/filter">Top IMDB</a></li>
                  </ul>
                </div>
              </div>

              <div class="r-head">
                <div id="head-search" class="no-overflow">
                  <div id="search-wrapper" class="shown">
                    <form action="/filter" autocomplete="off"> 
                      <a class="filter-btn btn btn-sm" href="/filter">
                        <i class="material-icons">&#xef4f;</i> Filter
                      </a> 
                      <input type="text" placeholder="Search movies..." name="keyword"> 
                      <button id="show-search-btn" class="shown">
                        <i class="material-icons">&#xE8B6;</i>
                      </button>
                    </form>
                  </div>
                </div>
                <div id="user-head">
                  <a href="admin" class="btn-header" data-toggle="modal" data-target="#sign">
                    <i class="material-icons">&#xe853;</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>