<%- include('./header.ejs') %>

<main class=""> 
  <div class="container medium"> 
    <section> 
      <div id="user-navi"> 
        <a class="" href="/user/watching"> <div><span>Continue Watching</span> <i class="material-icons"> slow_motion_video </i></div></a> 
        <a class="" href="/user/bookmark"> <div><span>Bookmark</span> <i class="material-icons">&#xe743;</i></div> </a> 
        <a class="" href="/user/notification"> <div><span>Notification</span> <i class="material-icons">notifications</i></div> </a> 
        <a class="" href="/user/profile"> <div><span>Profile</span> <i class="material-icons">manage_accounts</i></div> </a> 
        <a class="" href="/user/settings"> <div><span>Settings</span><i class="material-icons">&#xe8b8;</i></div> </a> 
      </div> 