<%- include('partials/header.ejs') %>

<main class="errors-page"> 
  <div class="container medium"> 
    <div class="text-center"> <h2 class="text-major">404</h2> <h4 class="text-major mb-3">Ooops! Page not found.</h4> 
      <a class="btn-primary btn" href="/home"> 
        <span><i class="material-icons">&#xf1e6;</i>Back to homepage</span>
      </a> 
    </div> 
  </div> 
</main>

<%- include('partials/footer.ejs') %>