<%- include('partials/header.ejs') %>

<main>
  <div class="container">
    <div class="aside-wrap">
      <div class="main-content">
        <section>
          <div class="top mb-3"> <div class="begin"> <h2>TV Shows</h2> </div> </div>
          <form class="movie-filters" action="filter" autocomplete="off">
            <div> <input type="text" class="search form-control" placeholder="Search..." name="keyword" value=""> </div>
            <div>
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> 
                  <span class="value" data-placeholder="Genre" data-label-placement="true">Genre</span>
                  <i class="material-icons">&#xe5cf;</i>
                 </button>
              </div>
            </div>  
            <div>
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> <span class="value" data-placeholder="Year" data-label-placement="true">Year</span><i class="material-icons">&#xe5cf;</i> </button>
              </div>
            </div> 
            <div> 
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> <span class="value" data-placeholder="Rating" data-label-placement="true">Rating</span> <i class="material-icons">&#xe5cf;</i></button>
              </div>
            </div>  
            <div>
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> <span class="value" data-placeholder="Type" data-label-placement="true">TV-Shows</span><i class="material-icons">&#xe5cf;</i> </button>
              </div>
            </div>  
            <div>
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> Quality <span class="value" data-label-placement="true"></span><i class="material-icons">&#xe5cf;</i> </button>
              </div>
            </div>  
            <div>
              <div class="dropdown responsive">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> <span class="value" data-placeholder="Sort by" data-label-placement="true">Recently updated</span><i class="material-icons">&#xe5cf;</i> </button>
              </div>
            </div>  
            <div> <button class="filter btn btn-primary"><i class="material-icons">&#xef4f;</i> Filter</button> </div>
          </form>
          <div class="clearfix"></div>
          <div class="base content movies" id="filter-content">
             <!-- CARDS -->
             <% sortedMovieCards.forEach((movie) => { %>
              <%- include('partials/movie-item.ejs', { movie: movie }) %>
              <% }) %>
                     
          </div>
        </section>
      </div>
      <div class="sidebar">
        <section>
          <% function addHyphensBetweenWords(str) {
            if (str.length > 1) {
              return str.split(' ').join('-');
            } else {
              return str;
            }
          } %>
          
          <div class="top"> <div class="begin"> <h2>Suggestions</h2> </div> </div>
          <div class="base mini in-sidebar movies">
            <% sortedMovieCards.slice(0, 10).forEach((movie) => { %>
            <%- include('partials/sidebar-item.ejs', { movie: movie }) %>
            <% }) %>
          </div>
         
        </section>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>