@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

html {
  font-size: 15px;
  font-family: Arya,sans-serif;
  height: 100%;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
height: 100%;
font-family: 'Arya', sans-serif;
font-size: 15px;
text-align: left;
font-weight: 400;
line-height: 1.5;
color: #848484;
text-align: left;
background-color: rgb(0, 0, 0);
box-sizing: border-box;
margin: 0;
}

section {
  display: block;
  margin-bottom: 2rem;
  background-color: black;
}
main {
  flex-grow: 1;
}
p {
  margin: 0%;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  color: #919191;
  text-decoration: none;
  background-color: transparent;
  transition: border-color .3s,background-color .3s,color .3s;
}


.justify-content-between {
  justify-content: space-between !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.pl-5, .px-5 {
  padding-left: 3rem !important;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}
.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}
.pt-3, .py-3 {
  padding-top: 1rem !important;
}
.flex {
  display: flex;
  align-items: center;
}

.fs-1 {
  font-size: 1rem;
}