
.container {
  max-width: 1800px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: rgb(2, 2, 2);
  background-image: none;
  width: 100%;
  background: #020202;
  position: relative;
  z-index: 50;
  margin-bottom: 3rem;
}
.header .wrap-head {
  display: flex;
  width: 100%;
  height: 6rem;
}

/* l-head */
.header .wrap-head .l-head {
  position: relative;
  min-width: 15%;
  align-items: center;
  display: flex;
}
.header .wrap-head .l-head .head-logo img{
  vertical-align: middle;
  border-style: none;
  margin-left: 1rem;
  height: 3.5rem;
}
.header .wrap-head .l-head #head-nav {
  margin-left: 1.5rem;
}
.header .wrap-head .l-head #head-nav > ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  position: relative;
  display: flex;
  list-style: none;
}
.header .wrap-head .l-head #head-nav > ul > li {
  position: relative;
}
.header .wrap-head .l-head #head-nav > ul > li > a {
  color: rgb(153, 255, 241);
  border-left-color: transparent;
  cursor: pointer;
  border-radius: .5rem;
  border-left: 3px solid transparent;
  display: block;
  padding: 0 1.5rem 0 .4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.header .wrap-head .l-head #head-nav > ul > li > ul {
  margin: 0;
    margin-top: 0px;
  list-style: none;
  display: none;
  z-index: 2;
  left: 0;
  top: 100%;
  min-width: 350px;
  width: 100%;
  background: #161616;
  padding: 1rem;
  position: absolute;
  border-radius: 1rem;
  margin-top: .3rem;
}
.header .wrap-head .l-head #head-nav > ul > li > ul::before {
  content: " ";
  width: 100%;
  height: .3rem;
  top: -.3rem;
  position: absolute;
  display: none;
}
.header .wrap-head .l-head #head-nav > ul > li > ul > li a:hover {
  color: #b6fff5;
  background: #2a2a2a;
  border-left: 1px solid #848484;
}
.header .wrap-head .l-head #head-nav > ul > li.expand:hover > ul {
  display: block;
}
.header .wrap-head .l-head #head-nav > ul > li > ul > li {
  float: left;
  width: 33.3333333333%;
}
.header .wrap-head .l-head #head-nav > ul > li > ul {
  list-style: none;
}
.header .wrap-head .l-head #head-nav > ul > li > ul > li a {
  padding: .3rem .5rem;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #848484;
  border-radius: .5rem;
  background: 0 0;
  border-left: 1px solid transparent;
}
.expand:hover > ul::before {
  display: block;
}
.header .wrap-head .l-head #head-nav-btn {
  margin-right: .1rem;
  cursor: pointer;
  color: #b6fff5;
  transition: color .4s;
  display: none;
}
.material-symbols-outlined::before {
  content: "\e9bd";
  font-size: 3rem;
}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head #head-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .4rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #848484;
  text-align: left;
  list-style: none;
  background-color: #161616;
  background-clip: padding-box;
  border: 0 solid #208e79;
  border-radius: .5rem;
}
.header .wrap-head .r-head #user-head > div .dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .3rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #919191;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#user-head .dropdown-menu .dropdown-item .material-icons {
  font-size: 1.4rem !important;
  margin-right: .2rem;
}
.dropdown-item.last {
  margin-left: .15rem;
}


/* r-head */
.header .wrap-head .r-head {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: .6rem;
}
.header .wrap-head .r-head #user-head {
  display: flex;
  justify-content: flex-end;
}
#head-search {
  position: relative;
  margin-right: .3rem;
  
}
#head-search.active #search-wrapper {
  width: 22rem;
  opacity: 1;
}
#head-search #search-wrapper {
  position: relative;
  border-radius: 1rem;
  width: 0;
  transition: width .2s,opacity .4s;
  opacity: 0;
  overflow: hidden;
}
#head-search #search-wrapper form {
  height: 2.5rem;
  padding: 1rem .3rem;
  display: flex;
  align-items: center;
  margin: 0;
  
   }
#head-search #search-wrapper form .filter-btn {
  border-radius: .5rem;
  background: #b6fff5;
  flex-shrink: 0;
  color: #020202;
}
#head-search #search-wrapper form input {
  height: 30px;
  line-height: 30px;
  margin-left: .5rem;
  flex-grow: 1;
  margin-right: 2.5rem;
}
#head-search #search-wrapper form input::placeholder {
  color: rgba(255,255,255,.5);
}
#head-search #search-wrapper form button, #head-search #search-wrapper form input {
  background: 0 0;
  color: #b6fff5;
  border: none;
  outline: 0;
}
#head-search #search-wrapper .search-suggestion::before {
  content: " ";
  width: 100%;
  height: .3rem;
  top: -.3rem;
  position: absolute;
  display: block;
}
#head-search #search-wrapper .search-suggestion {
  top: 100%;
  width: 100%;
  position: absolute;
  margin-top: 1px;
  background: #161616;
  border-radius: 1rem;
  z-index: 9;
  margin-top: .3rem;
}


/* filter button */
#head-search #search-wrapper .fi {
  color:white;
  display: flex;
  align-items: center;
  padding: .2rem .4rem .2rem .2rem ;
  background-image: none;
  background-color: #186d5d;
  border-radius: .5rem;
  flex-shrink: 0;
}
#head-search #show-search-btn {
  position: absolute;
  right: .2rem;
  top: 0;
  color: #b6fff5;
  font-size: 2.2rem;
  line-height: 2.5rem;
  transition: color .3s;
  cursor: pointer;
}
#head-search #show-search-btn .material-icons{
  color: rgb(153, 255, 241);
  font-size: 2rem;
}
#head-search #show-search-btn .material-icons:hover, #user-head .material-icons:hover{
  color: #848484;
}

.header .wrap-head .r-head #user-head .material-icons{
  font-size: 2rem;
}
.header .wrap-head .l-head #head-nav-btn:hover {
  color: #208e79;
}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head {
  flex-direction: row-reverse;
}}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head #head-nav {
  top: 95%;
  position: absolute;
  display: none;
  margin-left: 0;
  left: 0;
}
}
.header .wrap-head .l-head #head-nav > ul > li:hover > a {
  background: #208e79;
  color: #fff;
  border-left: 3px solid #28af95;
}
/* head search açıldığında :: */
#head-search.no-overflow #search-wrapper {
  overflow: visible;
}
#head-search.active #search-wrapper {
  width: 22rem;
  opacity: 1;
}
@media (max-width: 575.98px) {
#head-search #search-wrapper.shown form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}
#head-search.active #search-wrapper {
  width: 95%;
}
#head-search #search-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-width: 200px;
  opacity: 1;
  background: #161616;
  border: 1px solid #2a2a2a;
}
#head-search #search-wrapper.shown {
  display: block;
}}


  
