
.container {
  max-width: 1800px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: rgb(2, 2, 2);
  background-image: none;
  border-bottom-color: rgb(39, 176, 150);
  width: 100%;
  background: #020202;
  position: relative;
  z-index: 50;
  margin-bottom: 3rem;
  border-bottom: 1px solid #186d5d;
}
.header .wrap-head {
  display: flex;
  width: 100%;
  height: 6rem;
}

/* l-head */
.header .wrap-head .l-head {
  position: relative;
  min-width: 15%;
  align-items: center;
  display: flex;
}
.header .wrap-head .l-head .head-logo img{
  vertical-align: middle;
  border-style: none;
  margin-left: 1rem;
  height: 3.5rem;
}
.header .wrap-head .l-head #head-nav {
  margin-left: 1.5rem;
}
.header .wrap-head .l-head #head-nav > ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  position: relative;
  display: flex;
  list-style: none;
}
.header .wrap-head .l-head #head-nav > ul > li {
  position: relative;
}
.header .wrap-head .l-head #head-nav > ul > li > a {
  color: rgb(153, 255, 241);
  border-left-color: transparent;
  cursor: pointer;
  border-radius: .5rem;
  border-left: 3px solid transparent;
  display: block;
  padding: 0 1.5rem 0 .4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.header .wrap-head .l-head #head-nav-btn {
  margin-right: .1rem;
  cursor: pointer;
  color: #b6fff5;
  transition: color .4s;
  display: none;
}
.material-symbols-outlined::before {
  content: "\e9bd";
  font-size: 3rem;
}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head #head-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}}


/* r-head */
.header .wrap-head .r-head {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: .6rem;
}
.header .wrap-head .r-head #user-head {
  display: flex;
  justify-content: flex-end;
}
#head-search {
  position: relative;
  margin-right: .3rem;
  
}
#head-search.active #search-wrapper {
  width: 22rem;
  opacity: 1;
}
#head-search #search-wrapper {
  position: relative;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 1rem;
  width: 0;
  transition: width .2s,opacity .4s;
  opacity: 0;
  overflow: hidden;
}


/* filter button */
#head-search #search-wrapper .fi {
  color:white;
  display: flex;
  align-items: center;
  padding: .2rem .4rem .2rem .2rem ;
  background-image: none;
  background-color: #186d5d;
  border-radius: .5rem;
  flex-shrink: 0;
}
#head-search #show-search-btn {
  position: absolute;
  right: .2rem;
  top: -.9rem;
  color: #b6fff5;
  font-size: 2.2rem;
  line-height: 2.5rem;
  transition: color .3s;
  cursor: pointer;
}
#head-search #show-search-btn .material-icons{
  color: rgb(153, 255, 241);
  font-size: 2rem;
}
#head-search #show-search-btn .material-icons:hover, #user-head .material-icons:hover{
  color: #848484;
}

.header .wrap-head .r-head #user-head .material-icons{
  font-size: 2rem;
}
.header .wrap-head .l-head #head-nav-btn:hover {
  color: #208e79;
}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head {
  flex-direction: row-reverse;
}}
@media (max-width: 1199.98px) {
.header .wrap-head .l-head #head-nav {
  top: 95%;
  position: absolute;
  display: none;
  margin-left: 0;
  left: 0;
}
}

  
