@media (max-width: 1199.98px) {
main .aside-wrap .sidebar {
  width: 100%;
}}


main .sidebar {
  width: 23rem;
  min-width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}
main .main-conent, main .sidebar {
  display: flex;
  flex-direction: column;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
section {
  margin-bottom: 2rem;
}
.sidebar > section > .top {
  padding: 0 0 .7rem .7rem;
}

section > .top {
  display: flex;
  justify-content: space-between;
}
.mini.in-sidebar .movie-item {
  margin-right: -.7rem;
}
.mini.movies .movie-item {
  padding: .7rem;
  justify-content: space-between;
  transition: background-color .4s;
  width: 100%;
}

.base.movies .movie-item {
  display: flex ;
}
.mini.movies .movie-item .movie-info {
  border-bottom: 1px solid #2a2a2a;
  transition: border .3s;
}
.base.movies .movie-item .movie-info {
  flex-grow: 1;
  overflow: hidden;
  color: rgb(157, 148, 136);
}
.mini.movies .movie-item .movie-info .top {
  color: rgb(91, 218, 193);
}
.mini.movies .movie-item .movie-info .top span + span::before {
  content: "/";
  margin: 0 .5rem;
}



.base.movies .movie-item .movie-poster div {
  position: relative;
  padding: 67.5% 0;
}
.mini.in-sidebar .movie-item:hover {
  background-color: rgb(17, 18, 19);
  background-image: none;
  background: #161616;
}


.mini.movies .movie-item .movie-info {
  border-bottom: 1px solid #2a2a2a;
  transition: border .3s;
}
.base.movies .movie-item .movie-info {
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  color: #777;
}
.mini.movies .movie-item .movie-poster {
  width: 45px;
  margin-left: .5rem;
  margin-right: 0;
}
.base.movies .movie-item .movie-poster {
  flex-shrink: 0;
  width: 45px;
  margin-right: 10px;
  border-radius: .25rem;
  overflow: hidden;
}
.base.movies .movie-item .movie-poster div img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.mini.movies .movie-item .movie-info .bottom .material-icons {
  font-size: 1rem;
  text-align: center;
}
.mini.movies .movie-item .movie-info .bottom span + span::before {
  content: "-";
  margin: 0 .3rem;
}
.mini.movies .movie-item .movie-info .bottom {
  display: flex;
  align-items: start;
  color: rgb(157, 148, 136);
}

#star-and-rating {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

